pip==23.1
streamlit==1.20.0
opencv-python==4.5.5.62
numpy==1.21.5
pillow==8.4.0
streamlit-drawable-canvas==0.7.0
pandas==1.4.2
rich==10.14.0
markdown-it-py==2.2.0
pygments==2.18.0
mdurl==0.1.2
mediapipe==0.10.3
protobuf==4.25.3
